<footer>
    <div class="footer-container">
        <div class="footer-section about">
            <h2 class="footer-logo">Mercadona</h2>
            <p>Mercadona, leader du secteur retail en Espagne, propose des promotions fréquentes et une expérience de shopping innovante. Avec plus de 1675 magasins à travers le pays, nous continuons de croître tout en adoptant des pratiques écologiques pour l'avenir.</p>
        </div>
        <div class="footer-section links">
            <h2>Liens Utiles</h2>
            <ul>
                <li><a routerLink="/">Accueil</a></li>
                <li><a routerLink="/profile">Profil</a></li>
                <li><a routerLink="/users">Gestion des Utilisateurs</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h2>Suivez-nous</h2>
            <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Mercadona | Tous droits réservés.
    </div>
</footer>
